.orange {
  color: orange;
}

.profile {
  position: relative;
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: whitesmoke;
  margin-bottom: 1rem;
  box-shadow: 10px 10px 43px -1px rgba(0,0,0,0.39);
  -webkit-box-shadow: 10px 10px 43px -1px rgba(0,0,0,0.39);
  -moz-box-shadow: 10px 10px 43px -1px rgba(0,0,0,0.39);
  border-radius: 20px;
  }

  .avatar {
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;

  }

.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.new {
  position: absolute;
  top: 10%;
  left: 70%;
  background-color: aquamarine;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  font-weight: bold;
}